<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %></title>
    </head>
    <body>
        <h1>Contact</h1>
        <p>Let us know if you have any comments or suggestions for the site!</p>
    </body>
</html>
