<% @page_title = "User Menu" %>

<p id="notice"><%= notice %></p>
<div class="menu">
	<h2>User Menu</h2>
	<div class='identity'>Logged in as:</div>
	<ul>
		<li>Nothing</li>
		<li>To</li>
		<li>See</li>
		<li><%= link_to("Logout", :action => 'logout') %></li>
	</ul>
</div>